<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.wdelivery.member.vo.UserVO" alias="member"/>
	</typeAliases>
	<mappers>
		<mapper resource="wdonaldmappings/store-mapping.xml"/>
		<mapper resource="wdonaldmappings/admin-mapping.xml"/>
		<mapper resource="wdonaldmappings/member-mapping.xml"/>
	</mappers>
</configuration>