<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.wdelivery.member.vo.UserVO" alias="userVO"/>
		<typeAlias type="com.wdelivery.member.vo.MemberEmailVO" alias="memberEmailVO"/>
		<typeAlias type="com.wdelivery.menu.burger.vo.BurgerVO" alias="burgerVO"/>
		<typeAlias type="com.wdelivery.menu.drink.vo.DrinkVO" alias="drinkVO"/>
		<typeAlias type="com.wdelivery.menu.side.vo.SideVO" alias="sideVO"/>
		<typeAlias type="com.wdelivery.menu.winmorning.vo.WinMorningVO" alias="winMorningVO"/>
		
		<typeAlias type="com.wdelivery.cart.vo.CartVO" alias="cartVO"/>
		<typeAlias type="com.wdelivery.faq.vo.FaqVO" alias="faqVO"/>
	</typeAliases>
	<mappers>		
		<mapper resource="wdonaldmappings/member-mapping.xml"/>
		<mapper resource="wdonaldmappings/memberEmail-mapping.xml"/>
		<mapper resource="wdonaldmappings/qna-mapping.xml"/>
		<mapper resource="wdonaldmappings/burger-mapping.xml"/>
		<mapper resource="wdonaldmappings/drink-mapping.xml"/>
		<mapper resource="wdonaldmappings/side-mapping.xml"/>
		<mapper resource="wdonaldmappings/morning-mapping.xml"/>
		
		<mapper resource="wdonaldmappings/cart-mapping.xml"/>
		<mapper resource="wdonaldmappings/faq-mapping.xml"/>
	</mappers>
</configuration>