<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.wdelivery.member.vo.UserVO" alias="userVO"/>
	</typeAliases>
	<mappers>		
		<mapper resource="wdonaldmappings/member-mapping.xml"/>
		<mapper resource="wdonaldmappings/qna-mapping.xml"/>
	</mappers>
</configuration>