@charset "UTF-8";

.table_head_trackorder {
    width: 100%;
    border-bottom: 1px solid #c0c0c0;
    border-color: #ddd;
    background-color: #f5f5f5;
    border-spacing: 50px;
    border-collapse: separate;
    font-size: 15px
}

.table_body_trackorder {
	width: 100%;
	border-bottom: 1px solid #c0c0c0;
	border-color: #ddd;
	border-spacing: 50px;
	border-collapse: separate;
	font-size: 15px;
}

.trackorder_receive {
	width: 40px;
	height: 40px;
	font-size: 8px;
}

.trackorder_td {
	padding: 20px 0px;
}

.table_foot_trackorder {
	padding: 10px 0px;	
}

.table_head_td {
	padding: 20px 0px;
}

.table_head_td_img {
	text-align: center;
}

.table_foot_tr {
	padding: 20px 0px;
}

.table_foot_td {
	padding: 20px 0px;
}

.trackorder_td_img {
	text-align: center;
}

#order_detail_table {
	display: none
}

